.level-head {
  background-image: radial-gradient(#fef9f4,#FFF9C4);
  height: 100vh;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.go-to-home {
  background-color: #78b17b;
  color: #FFF9C4;
  font-size: 24px;
  padding: 4px 12px 10px 12px;
  border-radius: 8px;
  border: 1px solid #78b17b;
  margin-right: 140px;
}

.go-to-home:hover{
  background-color: #FFF9C4;
  color: #78b17b;
}

.level-heading,
.timer {
  font-size: 38px;
  color: #78b17b;
  font-weight: bold;
}

.timer {
  font-size: 20px;
}

.level-one-container {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.grid{
  gap: 2px;
}
  
.tile {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


@media(max-width: 430px) {
  .nav-section {
    height: 80px;
  }
  .go-to-home {
    font-size: 18px;
    padding: 2px 8px 6px 8px;
    margin-right: 80px;
  }
  .level-heading {
    font-size: 25px;
    padding-top: 5px;
  }
  .timer {
    font-size: 12px;
    padding-top: 10px;
  }
  .grid {
    gap: 6px!important;
  }
} 

@media(max-width: 330px) {
  .level-heading {
    font-size: 22px;
  }
  .go-to-home {
    margin-right: 60px;
  }
  .timer{
    font-size: 10px;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake-modal {
  animation: shake 0.4s ease-in-out;
  animation-fill-mode: both;
}

.modal-dialog {
  margin: 0 auto;
}
